*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#f4f6f8;
    color:#222;
    line-height:1.6;
    transition:0.3s;
}

body.dark{
    background:#121212;
    color:white;
}

body.dark header{
    background:hsla(305, 100%, 2%, 0.925);
}

body.dark footer{
    background:hsl(0, 0%, 0%);
}

body.dark section{
    background:#0f0011;
}

body.dark a{
    color:#59035c;
}

header{
    position:sticky;
    top:0;
    z-index:1000;
    backdrop-filter:blur(10px);
    background:rgba(19, 19, 19, 0.9);
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
}

.logo{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:600;
}

nav a:hover{
    color:#5d0474;
}

.menu-toggle{
    display:none;
    color:white;
    font-size:28px;
    cursor:pointer;
}

#darkModeBtn{
    background:none;
    border:none;
    font-size:20px;
    cursor:pointer;
}

.hero{
    min-height:100vh;
    padding:100px 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#c707ad,#8c00ff);
    color:white;
}

.hero h1{
    font-size:clamp(2rem,5vw,4rem);
}

.hero p{
    font-size:clamp(1rem,2vw,1.4rem);
    margin-top:15px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    background:white;
    color:#5b0463;
    padding:12px 24px;
    border-radius:30px;
    text-decoration:none;
    font-weight:600;
}

.btn:hover{
    transform:translateY(-3px);
}

section{
    padding:80px 20px;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

#about p{
    max-width:800px;
    margin:auto;
    text-align:center;
}

.skill{
    max-width:700px;
    margin:20px auto;
}

.bar{
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
}

.bar div{
    height:15px;
    background:linear-gradient(90deg,#5c0268,#aa0694);
}

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.project-card{
    padding:25px;
    background:white;
    border-radius:16px;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
    transition:0.3s;
}

body.dark .project-card{
    background:#1e1e1e;
    color:white;
    box-shadow:0 8px 25px rgba(255,255,255,0.05);
}

.project-card:hover{
    transform:translateY(-8px);
}

form{
    max-width:600px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

input, textarea, button{
    padding:14px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    background:#cc00ff;
    color:white;
    border:none;
    cursor:pointer;
}

.contact-links{
    text-align:center;
    margin-top:20px;
}

footer{
    background:#0f0f0f;
    color:white;
    text-align:center;
    padding:20px;
}

.fade-in{
    opacity:0;
    transform:translateY(30px);
    transition:1s;
}

.fade-in.show{
    opacity:1;
    transform:translateY(0);
}

@media(max-width:768px){
    .menu-toggle{
        display:block;
    }

    nav ul{
        display:none;
        position:absolute;
        top:70px;
        right:0;
        width:100%;
        background:#222;
        flex-direction:column;
        text-align:center;
        padding:20px 0;
    }

    nav ul.active{
        display:flex;
    }
}

#resume{
    text-align:center;
}

#resume .btn{
    display:inline-block;
    margin:20px auto 0;
}